{% extends "base_generic.html" %}
{% block title %} PetProject {% endblock %}
{% block body %}
    <h1> List of events: </h1>
    <ul>
    {% for event in events %}
        <li> <a href="{{ 'event.html/%s'%event.id }}"> {{ event.title }} </a></li>
        <ul>
            <li> {{ event.city }} </li>
            <li> {{ event.date }} </li>
        </ul>
    {% endfor %}
    </ul>
    Didn't find what you was looking for?
    <div class="form-group">
    <form name="Ask" action="javascript:handleIt(query.value)">
        <input type="text"  name="query" id="query">
        <input name="Submit"  type="submit" value="Update"/>
    </form>
    </div>
    <script type="text/javascript">

      function handleIt(query) {
          window.open("http://lmgtfy.com/?q=" + query)
      }

    </script>
{% endblock %}
