{% extends "base_generic.html" %}
{% block title %} ITinder {% endblock %}
{% block content %}

<div class="jumbotron bg-transparent">
    <h1 class="display-4">Welcome to ITinder</h1>
    <p class="lead">A place where you can find all interesting events for you.</p>
    <hr class="my-4">
    <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
    </p>
</div>

<div class="events">
    <h1> List of events: </h1>
    <ul class="list-group">
        {% for event in events %}
        <li class='event list-group-item bg-dark'> <a href="{{ 'event/%s'%event.id }}"> {{ event.title }} </a>
            <ul>
                <li class="list-group-item bg-dark"> {{ event.city }} </li>
                <li class="list-group-item bg-dark"> {{ event.date }} </li>
            </ul>
        </li>
        {% endfor %}
    </ul>
</div>


<form name="Ask" action="javascript:handleIt(query.value)">
    <div class="form-group">
        <label for="query">Didn't find what you was looking for?</label>
        <input type="text" class="form-control" name="query" id="query" placeholder="Митапы в Питере">
    </div>
    <p><input name="Submit" class="btn btn-primary" type="submit" value="Search" /></p>
</form>

<script type="text/javascript">
    function handleIt(query) {
        window.open("http://lmgtfy.com/?q=" + query)
    }
</script>
{% endblock %}
