{% extends "base_generic.html" %}
{% block title %} AwesomeUser {% endblock %}
{% block content %}
<div class="userinfo">
    <ul class="list-group">
        <li class="list-group-item bg-dark"> Name: Awesome User </li>
        <li class="list-group-item bg-dark"> City: Saint-Petersburg </li>
        <li class="list-group-item bg-dark"> Age: 25 </li>
        <li class="list-group-item bg-dark"> Sex: Male </li>
        <li class="list-group-item bg-dark"> Interests:
            <ul>
                <li class="list-group-item bg-dark"> IT</li>
                <li class="list-group-item bg-dark"> Development</li>
                <li class="list-group-item bg-dark"> Movies </li>
            </ul>
        </li>
    </ul>
    <h2> Attending: </h2>
    <div class="events">
            <h1> List of events: </h1>
            <ul class="list-group">
                {% for event in events %}
                <li class='event list-group-item bg-dark'> <a href="{{ 'event/%s'%event.id }}"> {{ event.title }} </a>
                    <ul>
                        <li class="list-group-item bg-dark"> {{ event.city }} </li>
                        <li class="list-group-item bg-dark"> {{ event.date }} </li>
                    </ul>
                </li>
                {% endfor %}
            </ul>
        </div>
</div>
{% endblock %}